.wrapper {
    height: 50px;
}

.graph {
    text-align: center;
}

#calendar {
    height: 600px;
}

.chart-container {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 800px;
    margin-left: 25%;
}