<div class="wrapper"></div>
<div class="graph">
    <mat-form-field appearance="fill">
        <mat-label>Select Location</mat-label>
        <mat-select [(value)]="selectedLocation" (selectionChange)="locationChange()">
            <mat-option *ngFor="let location of locations" [value]="location">
                {{ location }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>


<div>
    <div style="max-width: 900px; margin: auto;">
        <full-calendar #calendar [options]="calendarOptions"></full-calendar>
    </div>
</div>

<div class="chart-container">
    <canvas id="MyChart">{{ chart }}</canvas>
</div>