<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-nMM7kV22bNNz9Qc9USj47Dp1hwz+/1Sv9rW/3AjXabwSao6blF4B6kY1M3lIdhrj7VDk9f3wGl2Pb3Yq6QjQYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="image-container">
    <img src="https://images.unsplash.com/photo-1503945438517-f65904a52ce6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image">
    <div class="image-text">
      CONTACT US
    </div>
    <div class="motto">
        At AdventureAvenue, we believe that every journey begins with a conversation. Whether you're dreaming of exotic destinations or seeking local gems, our team is here to guide you every step of the way. Reach out today and let's turn your travel dreams into unforgettable memories.
    </div>
</div>

<div class="contact-cards-container">
  <div class="contact-card">
    <h2>Address</h2>
    <p>89 Str. Bucuresti, Cluj-Napoca, Romania</p>
    <p>15 Str. Mihai Viteazu, Bucharest, Romania</p>
  </div>
  <div class="contact-card">
    <h2>Phone</h2>
    <p>+40753803272</p>
    <p>+40749087461</p>
    <p>+40746829849</p>
  </div>
  <div class="contact-card">
    <h2>Email</h2>
    <p>adventureavenue@gmail.com</p>
  </div>
</div>
