
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
</head>
<div class="image-container">
    <img src="https://images.unsplash.com/photo-1417052800325-788e0eaf22c6?q=80&w=1920&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image">
    <div class="image-text">
      AdventureAvenue
    </div>
    <div class="description-text">
      Welcome to Adventure Avenue, where the thrill of discovery meets the tranquility of nature! <br> Embark on a journey with us and explore a world of breathtaking landscapes, adrenaline-pumping activities, and unforgettable experiences.
      From scaling towering mountains to diving into the depths of crystal-clear oceans, Adventure Avenue offers something for every explorer. Trek through lush rainforests, paddle down winding rivers, or soar through the sky on exhilarating zip lines.

Whether you're a seasoned adventurer seeking new challenges or a nature enthusiast longing to reconnect with the great outdoors, our curated selection of expeditions promises excitement, wonder, and the chance to create memories that will last a lifetime.

Join us on Adventure Avenue and let your wanderlust guide you to extraordinary destinations, where every path leads to adventure!
    </div>
  </div>

  