<div class="login-container">
    <form (ngSubmit)="register()" class="login-form">
        <h2>Register</h2>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" required>
        </div>
        <div class="form-group">
            <label for="password">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <p>Already have an accound? <a href="login">Login</a></p>
        <button type="submit">Register</button>
    </form>
</div>