<div class="login-container">
    <form (ngSubmit)="login()" class="login-form">
        <h2>Login</h2>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <p>Don't have an accound? <a href="register">Register</a></p>
        <button type="submit">Login</button>
    </form>
</div>